.albumList{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

p{
    margin: 0 auto !important;
}

#searchBar{
    margin: 0 auto !important;
    width: 50%;
    margin-bottom: 50px !important;
}